footer {
  margin-top: 30px;
  padding-bottom: 20px;
  border-top: 3px solid var(--main-bg-color);
}

footer ul {
  position: relative;
  right: 20px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0px;
}

footer li {
  color: var(--main-bg-color);
  font-weight: bold;
  font-size: 1em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

footer a:link {
  text-decoration: none;
}

footer a:visited {
  color: var(--main-bg-color);
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* MODAL
–––––––––––––––––––––––––––––––––––––––––– */

/* Plan du site - Site Map*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: 420px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-content {
  display: block;
  max-width: 380px;
}

.modal-content a:visited {
  background-color: var(--main-bg-color);
}
.modal-header h2 {
  margin-top: 1rem;
  padding-right: 20px;
  font-size: 2.5rem;
}

.modal-content h3 {
  font-size: 1.5rem;
  margin: 0 0 10px 10px;
}

.modal-content h4 {
  font-size: 1.2rem;
  margin: 0 0 5px 20px;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation='slideInOutLeft'] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation='slideInOutRight'] .modal-dialog {
  transform: translateX(100%);
}

[data-animation='slideInOutLeft'].is-visible .modal-dialog,
[data-animation='slideInOutRight'].is-visible .modal-dialog,
[data-animation='rotateInOutDown'].is-visible .modal-dialog {
  transform: none;
}

/* Back to Top Button */

.returnTop {
  z-index: 1;
  bottom: 1%;
  cursor: pointer;
  display: none;
  filter: alpha(opacity=50);
  /* IE < 8 */
  height: 40px;
  opacity: 0.5;
  position: fixed;
  right: 1%;
  width: 40px;
}

.returnTop:hover {
  filter: alpha(opacity=100);
  /* IE < 8 */
  opacity: 1;
}
