.fixnavbar.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  background-color: var(--main-bg-color);
  min-height: 2.5em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2.1em;
  list-style-type: none;
  padding-inline-start: 0px;
}

nav li a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav .current {
  /*  text-decoration: underline;*/
  background-color: #666;
}
