header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    color: var(--main-bg-color);
}

#entete {
    display: flex;
    padding: 5px 0px;
}

#logo {
    height: 3.3em;
    width: 3em;
}

#entete h3 {
    margin: auto;
    padding-top: 0.5em;
    padding-left: 0.7em;
    color: var(--main-bg-color);
    font-size: 1.6em;
}

.flag {
    width: 30px;
    height: 20px;
    margin: 1.3em 12px 0px 0px;
}